/*
* Heading style colors
*/

.title-underline-base-color {
  border-color: #3d59ab;
}
.title-underline-thick-base-color {
  border-color: #3d59ab;
}
.title-sideline-base-color:before {
  background-color: #3d59ab;
}
.title-strikethrough-base-color:before {
  background-color: #3d59ab;
}

/*
* Text color
*/

.text-base-color {
  color: #3d59ab !important;
}

/*
* Text color (on hover)
*/

.text-hover-base-color:hover,
.text-hover-base-color:focus {
  color: #3d59ab !important;
}

/*
* Background color
*/

.bg-base-color {
  background-color: #3d59ab !important;
}

/*
* Background color (on hover)
*/

.bg-hover-base-color:hover {
  background-color: #3d59ab !important;
}

/*
* Border color
*/

.border-base-color {
  border-color: #3d59ab !important;
}

/*
* Button colors
*/

.btn.btn-base-color {
  background-color: #3d59ab;
}
.btn.btn-base-color.btn-hover-transparent:hover {
  border-color: #3d59ab;
  color: #3d59ab;
}
.btn.btn-outline-base-color {
  border-color: #3d59ab;
  color: #3d59ab;
}
.btn.btn-outline-base-color:hover,
.btn.btn-outline-base-color:focus {
  background-color: #3d59ab;
}
.btn.btn-outline-base-color.btn-hover-transparent:hover,
.btn.btn-outline-base-color.btn-hover-transparent:focus {
  color: #3d59ab;
}

/*
* Preloader color
*/

.pace .pace-progress {
  background-color: #3d59ab;
}

/*
* Nav tabs (Section - Schedule)
*/

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #3d59ab !important;
}

/*
* Nav stacked (Section - FAQ)
*/

.nav.nav-pills.nav-stacked > li.active > a,
.nav.nav-pills.nav-stacked > li.active > a:hover,
.nav.nav-pills.nav-stacked > li.active > a:focus {
  background-color: #3d59ab;
  color: #ffffff;
}

/*
* Accordions (Section - FAQ)
*/

.panel-group .panel.active .panel-heading {
  background-color: #3d59ab;
}

/*
* Countdown
*/

.countdown .clock-item {
  background-color: #3d59ab;
}

/*
* Pricing (Section - Ticket)
*/

.pricing ul > li.check-mark:before {
  background-color: #3d59ab;
}

/*
* Timeline (Section - Schedule)
*/

.timeline-item.highlight:before {
  background-color: #3d59ab;
  border: #3d59ab;
}
